# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
test_all.py
code_avl.txt
avl.md

# Ambientes virtuais
venv/
env/
.env

# Sistema Operacional (Mac & Linux)
.DS_Store
.directory
